# Ignore virtual environment
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local config
*.env
*.DS_Store

# Ignore build folders
build/
dist/
*.egg-info/

cookies.txt



# @app.route('/thumbnail', methods=['POST'])
# def thumbnail():
#     url = request.json.get("url")
#     try:
#         with yt_dlp.YoutubeDL({'quiet': True}) as ydl:
#             info = ydl.extract_info(url, download=False)
#             return jsonify({"thumbnail": info.get("thumbnail", ""), "title": info.get("title", "Video")})
#     except Exception as e:
#         return jsonify({"error": str(e)}), 400 