# Ignore virtual environment
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local config
*.env
*.DS_Store

# Ignore build folders
build/
dist/
*.egg-info/

cookies.txt
